body {
	font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}
header {
	background: url('../img/hero.png');
	height: 861px;
	background-size: cover;
}
header h1 { 
    padding: 65px 0 65px 50px;
    font-family: 'Lora', serif;
    color: #BBC085;
}
nav {
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: capitalize; 
    font-size: 18px;
    text-decoration: underline;
    color: #898989;
    padding-left: 80px;
}
header h2 {
	width: ;
	clear: both;
	font-family: 'Lora', serif;
	font-size: 72px;
	line-height: 90px;
	color: #9b9b9b;
	padding: 20px 20px 20px 50px;
}
header h2 span {
    color: #2b2b2b
}
#about {
	height: 600px;
}
#work {
	text-align: center;
	height: 600px;
	background-color: #dbafaf;
}
#contact {
	height: 600px;
	background-color: #ebebeb;
}
#contact .full-width {
	padding: 110px 0;
}
#contact img#contact-img {
	margin-left: 25px;
	border: 12px solid #ffffff;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
	padding-left: 115px;
}
#contact #envelope {
	padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px
}
#contact #email-header{
    font-size: 28px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: 700px;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: underline;
    color: #dbafaf;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
.full-length {
	width: 1300px;
	margin: 0 auto;
}
.half-width {
	width: 750px;
	float: left;
}
.third-width {
	width: 500px;
	float: left;
}
#about .full-width {
	padding: 80px 0;
}
#about h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	padding-left: 100px;
}
#about p {
	font-size: 21px;
	color: rgba(100);
	line-height: 40px;
	padding-left: 100px;
	padding-right: 100px;
}
#work .full-width {
	padding: 115px 0;
}
#work img {
	padding-bottom: 30px;
}
#work h3 {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 32px;
	width: 500px;
	margin: 10px;
}
#work p {
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 30px;
	padding: 10px 100px 50px 100px;
}
